* {
    margin: 1em;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    display: flex;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
}

.markedToday {
    background-color: lightyellow;
}

.markedPrio {
    background-color: coral;
}

.isChecked {
    opacity: 0.5;
    text-decoration: line-through;
}

.projectCardTitle {
    font-weight: bold;
}

.todoInputWrapper {
    display: grid;
}

.todoCardTitle {
    font-weight: bold;
}

.todoCardDesc {
    color: grey;
}

.todoCardWrapper {
    display: grid;
    flex: 1;
}

.todoCard {
    display: flex;
    width: 50vw;
    height: auto;
}

.todoCheckbox {
    order: -1;
}

.projectCard {
    position: relative;
}

.dateDiv {
    color: red;
    position: absolute;
    bottom: -70%;
}

.sidebar {
    display: grid;
}